<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>Laboratorio CISCO</h3>
          </ion-text>
          <p>Aire acondicionado dejó de funcionar</p>
          <ion-text color="secondary">
            <p>03/10/2020</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning">Pending</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>Laboratorio de Arquitectura</h3>
          </ion-text>
          <p>No funciona del proyector</p>
          <ion-text color="secondary">
            <p>01/10/2020</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success">Done</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
